.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  background-color: lightblue;
  font: inherit;
  color: white;
  padding: 7.5px;
  font-weight: bold;
  border-radius: 2rem;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 0 5px;
}

.Button:hover {
  background-color: lightgreen;
  color: white;
}
